.wrapper {
    position: absolute;
    width: 101dvw;
    height: 100dvh;
    display: block;
    background-color: rgba(229, 0, 0, 0.22);
    z-index: 0;
}

.addButton {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 500;
}