.wrapper {
    width: 100dvw;
    height: 100dvh;
    display: block;
    position: relative;
    background-color: rgb(252, 252, 252);
    transition-duration: 1s;
}

@media (max-width: 990px) {
    .shrink {
        height: calc(100dvh - 440px);
    }
}

@media (min-width: 990px) {
    .shrink {
        width: calc(100dvw - 340px);
    }
}