.wrapper {
    position: fixed;
    bottom: 0;
    z-index: 500;
    background-color: rgb(244, 244, 244);
    animation: forwards slideTop 1s;
    height: 500px;
    width: 100dvw;
    padding: 20px;
    color: black;
}

@media (min-width: 990px) {
    .wrapper {
        width: 500px;
        height: 100%;
        top: 0;
        right: 0;
        animation: forwards slideLeft 1s;
        border-radius: 50px 0 0 50px;
    }
}


@keyframes slideLeft {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideTop {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

    
.closeModal{
    cursor:pointer;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 10px;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}