.wrapper {
    position: fixed;
    bottom: 0;
    z-index: 500;
    background-color: rgb(244, 244, 244);
    animation: forwards slideTop 1s;
    height: 500px;
    width: 100dvw;
    padding: 20px;
    color: black;
}

@media (min-width: 990px) {
    .wrapper {
        width: 500px;
        height: 100%;
        top: 0;
        right: 0;
        animation: forwards slideLeft 1s;
        border-radius: 50px 0 0 50px;
    }
}


@keyframes slideLeft {
    from {
        transform: translateX(100%)
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slideTop {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

    
.closeModal{
    cursor:pointer;
    transition: all 0.4s ease-in-out;
    position: absolute;
    top: 10px;
    left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeModal:hover {
    background-color: #555;
}

p {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    margin-bottom: 10px; 
  }
  
  button {
    background: #1e90ff;
    color: #fff;
    cursor: pointer;
  }
  
  img {
    max-width: 100%;
    margin-top: 10px;
    border-radius: 4px;
  }
  
  pre {
    background: #eee;
    padding: 10px;
    border-radius: 4px;
    overflow: auto;
  }

 
